[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym-rc-snake = {editable = true,path = "."}
tensorflow = ">=1.8.0"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
